* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 73%;
  grid-column-gap: 2%;
  align-self: center;
}

.grid {
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: center;
  align-content: center;
  grid-column-gap: 10px;
  padding: 12px;
}
.grid img {
  height: 250px;
}
.menu {
  border-right: 1.2px solid grey;
  background-color: grey;
  height: 100vh;
}
a {
  text-decoration: none;
}
.item {
  text-transform: capitalize;
  height: 8vh;
  border-bottom: 1px solid grey;
  background: rgb(219, 219, 219);
  display: flex;
  align-items: center;
  outline: none;
  text-align: center;
  justify-content: center;
}
.item a {
  color: #111111;
  font-weight: 600;
}
.active a {
  color: #fff !important;
}
.active {
  background-color: grey;
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  left: 0px;
  background: orange;
}

.grid::-webkit-scrollbar {
  display: none;
}
.img {
  cursor: pointer;
}
/* .img:active{
  border: 3px solid orange;
} */
.border {
  border: 3px solid orange;
}

.modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
}
.icon {
  height: 36px !important;
  width: 36px;
}
.modal-header {
  display: flex;
}
.modal-header img {
  cursor: pointer;
}
